:root {
  --min-adaptive-width: 320px;
  --medium-adaptive-width: 768px;
  --max-adaptive-width: 1158px;
  --LIGHT-SLATE: #8e8f99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  /*overflow-x: hidden;
  text-align: center;
  max-width: 100%;
  padding: 0;
  margin: 0;*/
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 16px;
}
.header-mob-menu {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  /*gap: 40px;*/
}
.mob-menu {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: #2e2f42;
  margin-bottom: 32px;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn {
  background-color: #fff;
  border: none;
}
.header-mob-menu-item {
  display: flex;
}
.header-mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.header-mob-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 16px;
}

.address-mob {
  display: flex;
}
.address-mob-menu {
  margin-left: 16px;
  margin-bottom: 48px;
}
.address-mob-menu-items a {
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #434455;
}
.address-mob-menu-items:first-child {
  margin-bottom: 24px;
}
.address-mob-menu-items:hover {
  color: #404bbf;
}

.address-mob-menu-items:focus {
  color: #404bbf;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.headercontainer {
  display: flex;
  align-items: center;
  max-width: 1128px;
  margin: auto;
}
.header-navigation {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 1158px) {
  .header-navigation {
    flex: 1;
  }
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo-header span {
  color: #2e2f42;
}

.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  list-style-type: none;
  display: none;
  gap: 40px;
  padding: 24px 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0;
  }
  .header-menu {
    flex: 1;
    justify-content: center;
  }
}

.header-menu-link {
  color: #2e2f42;
  text-decoration: none;
  gap: 40px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}
.header .current::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address-menu {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  list-style-type: none;
  display: none;
  gap: 40px;
}

.addresslink {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addresslink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.addresslink:hover {
  color: #404bbf;
}

.addresslink:focus {
  color: #404bbf;
}

/*First section*/

.firstsection {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Mob/mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .firstsection {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Mob/twoexemob.jpg);
  }
}

.one {
  flex-direction: column;
}
.firsttitle {
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
  outline: none;
}

/*Second Section*/

.secondsection {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.secondcontainerul {
  max-width: 320px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.seconditems {
  list-style-type: none;
  width: 100%;
  position: relative;
  gap: 8px;
}

.secondicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE);
}

.secondparagraph {
  color: #2e2f42;
  list-style-type: none;
  margin-bottom: 8px;
  align-self: stretch;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.secondtext {
  align-self: stretch;
  text-align: start;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-size: 16px;
  color: #434455;
}

.sectionthree {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.three {
  flex-direction: column;
}

.thirdlititleteam {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.thirdul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  margin: auto;
}

.thirdli {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.thirdimage {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.thirdcardcontainer {
  padding: 32px 0;
  /*display: flex;*/
  /*width: 232px;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.thirdteamparagraph {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.thirdtext {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.iconsul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.iconsul-mob {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.thirdiconsli {
  width: 40px;
  height: 40px;
}
.iconsli-mob {
  width: 40px;
  height: 40px;
}

.iconslink {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iconslink-mob {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconslink:hover {
  background-color: #404bbf;
}

.iconslink:focus {
  background-color: #404bbf;
}

/*Section four*/

.sectionfour {
  padding-top: 96px;
  padding-bottom: 96px;
}
.four {
  flex-direction: column;
}
.sectionfourtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.fourul {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
  padding-bottom: 0px;
}
.fourli {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 288px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}

.fourli:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.fourimage {
  display: block;
  max-width: 100%;
  height: auto;
}
.fouritems {
  border: 1px solid #e7e9fc;
  border-top: none;
  /*display: flex;*/
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.fourparagraph {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.fourtext {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Footer*/

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footcont {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerlogocontainer {
  margin-right: 0;
  text-align: center;
}

.logofooter {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
  text-decoration: none;
}

.logofooter span {
  color: #f4f4fd;
}

.footertext {
  width: 264px;
  text-align: start;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.socmedia {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-media-icon {
  fill: #f4f4fd;
}
.social-media-icon-mob {
  fill: #f4f4fd;
}

.footerul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footerli {
  width: 40px;
  height: 40px;
}

.footerlink {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footerlink:hover,
.footerlink:focus {
  background-color: #31d0aa;
}
.cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cover-block {
  position: relative;
  overflow: hidden;
}
.fourli:hover .cover-text {
  transform: translateY(0%);
}

.sociconsfooter {
  width: 208px;
  text-align: center;
  margin-top: 72px;
}

/*Form*/

.formparagraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.realform {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.inputfooter {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.placeholder {
  color: #ffffff;
}
.footerbutton {
  min-width: auto;
  width: 165px;
  margin: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.formsvg {
  margin-left: 16px;
  order: 2;
}
.formcontainer {
  margin-left: 0;
  margin-top: 72px;
  text-align: center;
}

/*Modalwindow*/

.modalwindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.windowin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.windowbtn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.windowbtn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.windowbtn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modalsvg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalsvg:hover {
  fill: #ffffff;
}
.modalsvg:focus {
  fill: #ffffff;
}
.modalparagraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.formmodaldiv {
  margin-bottom: 8px;
}
.inputdiv {
  position: relative;
}
.lab {
  display: block;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.inputmodal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}
.inputmodal:focus {
  border-color: #4d5ae5;
}
.namesvg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputdiv .namesvg {
  fill: #000;
}
.inputmodal:focus + .namesvg,
.inputdiv:hover .inputmodal + .namesvg {
  fill: #4d5ae5;
}

.formmodalfour {
  margin-bottom: 16px;
}
.labelcomment {
  margin-bottom: 16px;
}
.area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area:focus {
  border-color: #4d5ae5;
}
.formmodalfive {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.lastbtn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  text-align: center;
}

.labelfive {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modalspan {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-policy {
  color: var(--IRIS, #4d5ae5);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.input-class:checked + .labelfive .modalspan {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/*Media*/

@media screen and (min-width: 320px) {
  .secondicon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
  .menu-open-btn {
    display: none;
  }
  .one {
    width: 768px;
  }
  .address-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .header-menu {
    color: #2e2f42;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }

  .windowin {
    width: 408px;
    height: 584px;
    position: fixed;
  }

  @media (min-width: 1158px) {
    .address-menu {
      flex-direction: row;
    }
  }

  .firstsection {
    margin: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .firstsection {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tab2.jpg);
    }
  }

  .firsttitle {
    width: 496px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    text-align: center;
  }
  .btn {
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
  }
  .secondicon {
    display: none;
  }
  .secondcontainerul {
    max-width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    row-gap: 72px;
  }
  .secondparagraph {
    text-align: start;
  }

  .three {
    max-width: 768px;
    margin: auto;
  }
  .thirdul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  @media (width > 1158px) {
    .thirdul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .four {
    display: block;
    align-items: center;
  }
  .fourul {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px; /* Відступ між елементами по горизонталі */
    row-gap: 72px;
    justify-content: center;
    max-width: 1128px;
    margin: auto;
  }

  @media screen and (width > 1158px) {
    .fourul {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .fourli {
    width: 356px;
  }

  .footcont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 560px;
  }

  .footerlogocontainer {
    margin-right: 36px;
  }

  .realform {
    flex-direction: row;
    justify-content: center;
  }
  .formparagraph {
    text-align: left;
  }
  .socmedia {
    text-align: left;
  }
  .logofooter {
    text-align: start;
    display: block;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .headercontainer {
    display: flex;
    align-items: center;
  }
  .header {
    padding: 0;
    border-bottom: none;
    box-shadow: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .addresslink {
    font-size: 16px;
  }
  .address-menu {
    gap: 40px;
  }
  .firstsection {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .firstsection {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desk2.jpg);
    }
  }

  .secondsection {
    padding: 120px 0;
  }
  .sectionthree {
    padding: 96px 0;
  }
  .sectionfour {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .secondcontainerul {
    max-width: 1128px;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
  }

  .seconditems {
    list-style-type: none;
    width: 100%;
    height: 100%;
    position: relative;
    gap: 8px;
  }

  .secondicon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--LIGHT-SLATE);
  }

  .secondparagraph {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }

  .secondtext {
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
  .footcont {
    max-width: 1158px;
    display: flex;
    flex-direction: row;
  }
  .logofooter {
    display: flex;
    text-align: left;
  }
  .windowin {
    width: 408px;
    height: 584px;
    position: fixed;
  }
  .formcontainer {
    margin-top: 100px;
    text-align: center;
  }
  .sociconsfooter {
    margin-right: auto;
  }
  .footerlogocontainer {
    margin-right: 120px;
  }
  .three {
    max-width: 1158px;
    margin: auto;
  }
}
